[mysqld]
key_buffer_size         = 16M
max_allowed_packet      = 16M
thread_stack            = 10M
thread_cache_size       = 500
myisam-recover-options  = BACKUP
max_connections         = 200

skip-name-resolve
skip_ssl

#skip-grant-tables

query_cache_limit       = 100M
query_cache_size        = 300M

expire_logs_days        = 10
max_binlog_size         = 100M

lower_case_table_names=1

character_set_server = utf8

port={{ item }}
datadir={{ mariadb_path }}/{{ item }}/data
socket={{ mariadb_path }}/{{ item }}/socket/mysql.sock

innodb_buffer_pool_size=1G

max_allowed_packet      = 100M

#slow_query_log = ON
#slow_query_log_file = /home/sqlserver/3307/log/slow.log
#long_query_time = 0

innodb_log_buffer_size = 50M
innodb_log_file_size = 500M
innodb_flush_log_at_trx_commit = 2

[mysqld_safe]
log-error={{ mariadb_path }}/{{ item }}/log/mariadb.log
pid-file={{ mariadb_path }}/{{ item }}/pid/mariadb.pid

